<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/nav.ejs') %>

      <div>
        <% if(project.length > 0){%> <% project.map((pjt,index)=>{ %>
        <div class="row" style="display: flex; justify-content: center;">
          <div id="details" class="card col-md-6 col-sm-12">
            <div class="card-header">
              <h5><strong>Project Details</strong></h5>
            </div>
            <img
              src="<%= pjt.picture_url  %>"
              class="card-img-top image"
              alt="<%= project.title%>"
            />
            <div class="card-body">
              <h3 class="card-title"><%= pjt.title%></h3>
              <em><span><%= pjt.snippet %></span></em>
              <p class="card-text">
                <%= pjt.description %>
              </p>
            </div>
            <div class="d-grid gap-2" id="control">
              <a href="/projects" class="btn btn-info">Back</a>
              <a class="btn btn-success" id="btn-edit">Edit</a>
            </div>
          </div>
          <div hidden id="update-section" class="card col-md-5 col-sm-12">
            <div class="card-header">
              <h5><strong>Edit Project</strong></h5>
            </div>
            <div class="card-body">
              <form action="/projects/<%=pjt.id%>" method="POST">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    name="title"
                    placeholder="Project Title"
                    value="<%= pjt.title  %> "
                    required
                  />
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    name="snippet"
                    placeholder="Project Tags"
                    value="<%= pjt.snippet  %> "
                    required
                  />
                </div>
                <div class="mb-3">
                  <textare
                    class="form-control"
                    name="description"
                    placeholder="Project Description"
                    rows="3"
                    required
                    ><%=pjt.description %></textare
                  >
                </div>
                <div class="row">
                  <div class="col-10">
                    <input type="file" class="form-control" id="file-upload" />
                  </div>
                  <div
                    hidden
                    class="col-2 spinner-border"
                    role="status"
                    id="loader"
                  >
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <input
                    type="hidden"
                    name="picture_url"
                    id="picture_url"
                    value="<%= pjt.picture_url  %> "
                  />
                </div>
                <br />
                <div class="d-grid gap-2">
                  <button class="btn btn-success" type="submit">Save</button>
                  <a class="btn btn-info btn-sm" id="close-btn">
                    Close
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <% })} %>
      </div>

      <%- include('../partials/footer.ejs') %>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const editBtn = document.getElementById("btn-edit");
      const closeBtn = document.getElementById("close-btn");

      const fileUpload = document.getElementById("file-upload");
      const pictureUrl = document.getElementById("picture_url");

      const editSection = document.getElementById("update-section");
      const detailsSection = document.getElementById("details");
      const controlBtn = document.getElementById("control");
      const loader = document.getElementById("loader");

      editBtn.addEventListener("click", (e) => {
        editSection.hidden = false;
        detailsSection.hidden = true;
        controlBtn.hidden = true;
      });

      closeBtn.addEventListener("click", (e) => {
        detailsSection.hidden = false;
        controlBtn.hidden = false;
        editSection.hidden = true;
      });

      fileUpload.addEventListener("change", (event) => {
        loader.hidden = false;
        const file = event.target.files[0];
        const formData = new FormData();
        formData.append("file", file);
        formData.append("upload_preset", CLOUDINARY_UPLOAD_PRESET);

        axios({
          url: CLOUDINARY_URL,
          method: "POST",
          header: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          data: formData,
        })
          .then((res) => {
            loader.hidden = true;
            pictureUrl.value = res.data.secure_url;
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
